<%page args="cert_status, course" />
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
% if cert_status['linked_in_url']:
    <li class="action action-share">
        <a class="btn linkedin-add-to-profile" target="_blank" href="${cert_status['linked_in_url']}"
         title="${_('Add Certificate to LinkedIn Profile')}"
         data-course-id="${unicode(course.id)}"
         data-certificate-mode="${cert_status['mode']}"
        >${_("Share on LinkedIn")}</a>
    </li>
% endif
